<div class="splash">
    <h1 class="home-header">BudgetIt</h1>
  <div class="buttons">
    <%= button_to "LOG IN", new_user_session_path, :method => :get, class:"splash-btns" %>
    <%= button_to "SIGN UP", new_user_registration_path, :method => :get, class:"splash-btns2" %>
  </div>
</div>
