<nav class="header-categories d-flex flex-center">
  <div class="icons">
    <%= link_to  categories_path do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <% end %>
  </div>
  <h1 class="headers">NEW CATEGORY</h1>
</nav>

<%= render "form", class:"category-form" %>

<br>
